# ไฟล์ของมดงานแบงค์ ใครเปิดเข้ามาต้องร่ายคาถา บาราชูบาชู๊ก่อน

In [2]:
import pandas as pd
import seaborn as sns
%matplotlib inline

## disposible income by countries

In [5]:
income = pd.read_csv('./Data cleaned/Disposable_income_adj.csv')
income

,Geography,Category,Data Type,Unit,Currency Conversion,Current Constant,2011,2012,2013,2014,2015,2016,2017
0,Azerbaijan,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"12,100.4","13,387.7","15,171.3","16,581.1","17,582.4","19,983.5","23,225.3"
1,Bangladesh,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"68,540.6","78,411.0","88,036.1","98,314.5","110,726.9","123,994.2","140,115.3"
2,Cambodia,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"10,895.1","11,462.9","12,178.9","13,208.8","14,245.7","15,621.0","16,650.9"
3,China,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"3,881,003.1","4,352,694.4","4,824,248.7","5,274,231.8","5,715,663.3","6,227,634.1","6,905,378.4"
4,"Hong Kong, China",Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"197,233.6","210,413.9","225,046.0","238,473.1","251,846.5","259,548.5","279,337.5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Spain,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"736,907.0","698,018.0","695,391.3","696,649.0","724,290.1","743,436.6","765,902.1"
99,Sweden,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"168,949.0","176,216.4","181,210.1","187,513.0","194,344.1","202,993.2","211,414.4"
100,Switzerland,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"410,435.0","416,011.6","425,268.0","429,824.9","429,682.3","434,565.4","435,272.0"
101,Turkey,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"40,401.6","44,848.7","52,616.2","59,424.4","67,770.2","75,273.9","89,600.5"
102,United Kingdom,Disposable Income,Socio-economic indicators,USD million,Fixed 2023 ex rates,Current Prices,"1,279,739.7","1,335,787.5","1,395,491.8","1,450,495.6","1,537,294.1","1,567,811.2","1,613,225.1"

## combining values from different regions

top piracy (unlicensed) software (in USD) from each regions around the world


AP = Asia Pacific \
CEE = Central and Eastern Europe \
LA = Latin America \
MEA = Middle East and Africa \
NA = North America \
WE = Western Europe

In [88]:
regions_abbre = ['AP','CEE', 'LA', 'MEA', 'NA', 'WE']

data_frames = [pd.read_csv(f'../machine_learning_project/Data cleaned/{region}_value.csv', index_col='Country') for region in regions_abbre]

In [89]:
regions_abbre = ['AP','CEE', 'LA', 'MEA', 'NA', 'WE']

# remove dollar sign to enable math computation
for index in range(len(data_frames)):
    for column in data_frames[index].columns:
        data_frames[index][column] = data_frames[index][column].str.replace('$', '')

# add 'region' column for each table
for (index, region) in zip(range(len(data_frames)), regions_abbre):
        data_frames[index]['region'] = f'{region}'

# assemble all the data tables into one long format table
data_long_format = pd.concat(data_frames)
data_long_format.to_csv('../machine_learning_project/Data cleaned/values_long_format.csv', index_label='Country')

In [91]:
data_long_format

                 2017   2015   2013   2011 region
Country
Australia         540    579    743    763     AP
Bangladesh        226    236    197    147     AP
Brunel             18     19     13     25     AP
China           6,842  8,657  8,767  8,902     AP
Hong Kong         277    320    316    232     AP
...               ...    ...    ...    ...    ...
Portugal          137    145    180    245     WE
Spain             859    913  1,044  1,216     WE
Sweden            260    288    397    461     WE
Switzerland       399    448    469    514     WE
United Kingdom  1,421  1,935  2,019  1,943     WE

[116 rows x 5 columns]

## vistualisation
- Correlation/scattered plot between income and unliscensed software of all available counties (both are in USD) in 2017 (most recent year)
- Boxplot of unliscensed software by regions in 2017
- Compare over time (expect to see imporvements in some regions)
- ! but both table may have some differnt country's names